* {
    font-family: 'Miniver', cursive;
    font-family: 'Stylish', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: papayawhip;
}

.gameboard{
    height: 50vh;
    width: 50vh;
}

.gameboard.active {
    display: grid;
    height: 50vh;
    width: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    background: black;

}

.square {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 0px;
    background: papayawhip;
}

.controls {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.controls input {
    border: none;
    height: 50px;
    margin: 5px;
    border: 2px solid rgb(116, 150, 150);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    background: rgb(255, 244, 227);
}

.controls input:active {
    border: 2px solid rgb(61, 78, 78);
}
.controls input:disabled {
    filter: blur(1px);
    cursor: not-allowed;
}

.buttons {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.buttons > button {
    border: none;
    border: 2px solid gold;
    height: 35px;
    border-radius: 5px;
    background: rgb(243, 218, 186);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.buttons > button:active {
    transition: 0.5s ease all;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}